/*body,*/
/*pre {*/
/*	background-color: #333;*/
/*	color: #fff;*/
/*}*/

/*hr {*/
/*	border-color: #fff;*/
/*}*/

/*.gsap-btn {*/
/*	background-color: #73b102;*/
/*	color: #fff;*/
/*}*/

a:hover,
.gsap-btn:hover,
.gsap-btn:active,
.gsap-btn:focus {
	background-color: #88ce02;
	color: #fff;
}

.container {
	position: relative;
}

.page {
	position: absolute;
	left: 15px;
	right: 15px;
}

.page-enter {
	opacity: 0;
	transform: scale(1.1);
}

.page-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
}

.page-exit {
	opacity: 1;
	transform: scale(1);
}

.page-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}
html,
body {
	background-color: #999999;
}

footer {
	padding-top: 2em;
}

.st1 {
	fill: none;
	stroke: #eeeeee;
	stroke-width: 7;
	stroke-linecap: round;
	stroke-miterlimit: 10;
}

svg {
	transform: translateX(-56px);
}
